@charset "utf-8";

/*
 * My Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border-radius: 0;
  text-transform: none;
  -webkit-appearance: button;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}
#root, #__next {
  isolation: isolate;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', 'Noto Emoji', メイリオ, Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #541018;
  background: #f9cdd4; /* ベージュ #fcf5ed */
}

/* Fonts */
@font-face {
  font-family: 'cheekFont';
  src: url('../fonts/subsetcheekfont.eot');
  src: url('../fonts/subsetcheekfont.eot') format('embedded-opentype'),
    url('../fonts/subsetcheekfont.woff') format('woff');  
  font-weight: normal;
  font-style: normal;
}
.cheek {
  font-family: 'cheekFont';
  font-weight: 900;
}

.c6232e {
  color: #c6232e;
}
.en {
  letter-spacing: 2px;
}

/*
 * header
 * (global-nav, social-menu)
 */

header.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* global-nav ------------------------------*/

button.btn-gnav::before {
  content: "\f0c9";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.5rem;
  color: #c6232e;
}
button.btn-gnav {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 110;
}

#gnav {
  position: fixed;
  top: 0;
  right: -75vw;
  width: 75vw!important;
  height: 100%;
  padding-top: 50px;
  background: rgba(255, 255, 255, 1);
  font-size: 16px;
  z-index: 106;
}

#gnav::before {
  visibility: hidden;
  content: '';
  width: 150vw;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  right: 75vw;
}

button.btn-gnav,
#gnav,
#gnav::before {
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-gnav.open {
  background: rgba(255, 255, 255, 1);
}
.btn-gnav.open ~ #gnav::before {
  visibility: inherit;
  background-color: rgba(0, 0, 0, 0.4);
}

#gnav ul.list-gnav li {
  display: block;
  padding: .25em;
  border-bottom: 1px solid #ededed;
}
#gnav ul.list-gnav li:first-child {
  border-top: 1px solid #ededed;
}
#gnav ul.list-gnav li:hover {
  background: #ededed;
}

#gnav ul.list-gnav li a {
  text-decoration: none;
  display: block;
  line-height: 3em;
  padding-left: calc(2em + 5px);
}
#gnav ul.list-gnav li a:hover {
  border-bottom: none;
}

/* social-menu ------------------------------*/

ul.social-menu {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

ul.social-menu li a {
  text-decoration: none;
  font-size: 0;
}

.social-menu li a::before {
  font-family: 'Font Awesome 5 Brands';
  font-size: 28px;
  font-weight: 400;
  color: #c6232e;
  vertical-align: text-bottom;
}

.social-menu li a[href*="twitter"]::before {
  content: "\f099";
}
.social-menu li a[href*="instagram"]::before {
  content: "\f16d";
}
.social-menu li a[href*="github"]::before {
  content: "\f09b";
}
.social-menu li a[href*="codepen"]::before {
  content: "\f1cb";
}
.social-menu li a[href*="hatena"]::before {
  content: '';
  display: inline-block;
  background-image: url(../images/hatenablog-logo.svg);
  background-size: contain;
  width: 28px;
  height: 28px;
}
/* 
 * main-visual
 * (scallop-box, site-ttl, slick-ctt)
 */
/* scallop-box ------------------------------*/

.scallop-box {
  margin: 20px;
  background-color: #fff;
  border: 10px solid;
  border-image-source: url(../images/scallop-frame.svg);
  border-image-slice: 35% fill;
  border-image-width: auto;
  border-image-outset: 20px;
  border-image-repeat: round;
  /*--------------*/
  transform: translate(-25%, 0);
  position: absolute;
  z-index: 0;
}

/* site-ttl ------------------------------ */
.site-ttl {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.site-ttl h1,
.site-ttl p {
  font-family: 'cheekFont';
  font-weight: bold;
  color: #c6232e;
  text-align: center;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  z-index: 20;
}

/* 
 * slick-slider
 */

.slick-ctt {
  position: relative;
  z-index: 30;
  width: 75vw;
  margin: 0 auto;
  margin-right: auto;
}

.img-wrapper {
  width: 75vw;
  height: 75vw;
  margin: 0 calc(25vw /2);
  /*スライドの画像間の距離*/
}

.slick-list {
  overflow: inherit;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.slick-prev, .slick-prev:before {
  display: none;
  border: none;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.slick-next:before,
.slick-next:hover::before,
.slick-next:focus::before {
  color: #c6232e;
  opacity: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  content: '\f054';
}

.img-wrapper {
  background-size: cover;
  border: 2px solid #c6232e;
}

.img-wrapper.img01 {
background-image: url(../images/applique-cushion.jpg);
}
.img-wrapper.img02 {
  background-image: url(../images/patchwork-cut.jpg);
}
.img-wrapper.img03 {
  background-image: url(../images/moleyarn-knit.jpg);
}


.slick-dots li button:before {
  color: #c6232e;
  opacity: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: normal;
  font-size: 10px;
  width: 20px;
  height: 20px;
  content: '\f111';
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #c6232e;
  font-weight: 900;
}

@media only screen and (min-width: 576px) {
  .slick-ctt {
    width: 40vw;
    margin: 0 0 0 10vw;
  }
  .img-wrapper {
    width: 40vw;
    height: 40vw;
    margin: 0 10vw 0 0;
    /*スライドの画像間の距離*/
  }
  .slick-list {
    margin: 0;
  }
}

/* 
 * each sections
 *
 */

section {
  padding: 1rem 0;
}

section .section-ttl {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}

p.wrap-stc > span {
  display: inline-block;
}

section.bg-white {
  background-color: #fff;
  margin: 0 calc(50% - 50vw);
  padding: 1rem calc(50vw - 50%);
}

.section-ttl.heart-line {
  color: #c6232e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 calc(50% - 50vw) 0.75rem;
}
.section-ttl.heart-line::before,
.section-ttl.heart-line::after {
  content: '';
  background-image: url(../images/favorite.svg);
  background-repeat: space no-repeat;
  background-position-x: center;
  background-size: 1.5rem 1rem;
  width: 100%;
  height: 1rem;
  margin: 0 0.75rem;
}

section.bg-white.scallop {
  margin-top: 30px;
  padding: 0 1rem 1rem;
  border-top: 20px solid;
  border-image-source: url(../images/scallop-frame.svg);
  border-image-slice: 35% fill;
  border-image-width: auto;
  border-image-outset: 10px 10px 0;
  border-image-repeat: round;
}

/* y2k-heart ------------------------------ */

section.y2k-heart {
  position: relative;
  margin-top: min(15vw, 120px);
  /* (110-80vw)/2, (880-640)/2 */
}

section.y2k-heart::before,
section.y2k-heart::after {
  content: '';
  z-index: -10;
  position: absolute;
  mask: url(../images/favorite.svg) no-repeat center / 120% auto;
  -webkit-mask: url(../images/favorite.svg) no-repeat center / 120% auto;
}
/*
 * 100vw = 800px のときをブレークポイントとする。
 * ( 1vw = 8px )
 */
section.y2k-heart::before { /* 8*80=640px  */
  width: min(80vw, 640px);
  height: min(80vw, 640px);
  background-color: #ffffffcc; /* 80% */
  top: 0;
  left: calc((100% - min(80vw, 640px))/2);
}
section.y2k-heart::after { /* 8*110=880px */
  width: min(110vw, 880px);
  height: min(110vw, 880px);
  background-color: #ffffff66; /* 40% */
  top: max(-15vw, -120px); 
  /* (110-80vw)/2, (880-640px)/2 */
  left: calc((100% - min(110vw, 880px))/2);
}
