@charset "utf-8";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Alata&display=swap);
@font-face {
  font-family: 'cheekFont';
  src: url('fonts/subsetcheekfont.eot');
  src: url('fonts/subsetcheekfont.eot') format('embedded-opentype'),
    url('fonts/subsetcheekfont.woff') format('woff');  
  font-weight: normal;
  font-style: normal;
}
/*
@font-face{
  font-family: blogicon;
  src: url(https://cdn.blog.st-hatena.com/fonts/public/blogicon/blogicon-regular.woff?version=4e8bca71263f6a47b5e60dda3d3dc5a49e70b775) format("woff"),
    url(https://cdn.blog.st-hatena.com/fonts/public/blogicon/blogicon-regular.otf?version=3864ece6545b7228eb5270b4fa5b0536d59032d0) format("opentype");
  font-weight: normal;
  font-style: normal
}
*/


/* fontawesome */
@import url(https://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'Font Awesome 5 Free', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #541018;
  background: #f9cdd4; /* ベージュ #fcf5ed */
}

img {
  width: 100%;
  height: auto;
}
.mb-10 {
  margin-bottom: 5rem;
}
.c6232e {
  color: #c6232e;
}
.cheek {
  font-family: 'cheekFont';
  font-weight: 900;
}
.en {
  letter-spacing: 2px;
}
.border-red {
  border-color: #c6232e;
  border-width: 2px;
}

.btn-gnav::before {
  content: "\f0c9";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.5rem;
  color: #c6232e;
}
.btn-gnav {
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 110;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

#gnav {
  position: fixed;
  top: 0;
  right: -75vw;
  width: 75vw!important;
  height: 100%;
  padding-top: 50px;
  background: rgba(255, 255, 255, 1);
  font-size: 16px;
  box-sizing: border-box;
  z-index: 106;
}

#gnav::before {
  visibility: hidden;
  content: '';
  width: 150vw;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  right: 75vw;
}

.btn-gnav,
#gnav,
#gnav::before {
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-gnav.open {
  background: rgba(255, 255, 255, 1);
}

.btn-gnav.open ~ #gnav::before {
  visibility: inherit;
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul li {
  display: block;
  padding: .25em;
  border-bottom: 1px solid #ededed;
}

nav ul li:first-child {
border-top: 1px solid #ededed;
}
nav ul li a {
text-decoration: none;
display: block;
}

#gnav a {
line-height: 3em;
padding-left: calc(2em + 5px);
}
#gnav a:hover {
border-bottom: none;
}

nav ul li:hover {
background: #ededed;
}


.scallop-box {
  margin: 20px;
  background-color: #fff;
  border: 10px solid;
  border-image-source: url(images/scallop-frame.svg);
  border-image-slice: 35% fill;
  border-image-width: auto;
  border-image-outset: 20px;
  border-image-repeat: round;
  /*--------------*/
  transform: translate(-25%, 0);
  position: absolute;
  z-index: 0;
}

.social-menu li a {
  text-decoration: none;
  font-size: 0;
}

.social-menu li a::before {
  font-family: 'Font Awesome 5 Brands';
  font-size: 28px;
  font-weight: 400;
  color: #c6232e;
  vertical-align: text-bottom;
}

.social-menu li a[href*="twitter"]::before {
  content: "\f099";
}

.social-menu li a[href*="instagram"]::before {
  content: "\f16d";
}

.social-menu li a[href*="github"]::before {
  content: "\f09b";
}

.social-menu li a[href*="codepen"]::before {
  content: "\f1cb";
}

.social-menu li a[href*="hatena"]::before {
  content: '';
  display: inline-block;
  background-image: url(images/hatenablog-logo.svg);
  background-size: contain;
  width: 28px;
  height: 28px;
}

.site_ttl {
  width: fit-content;
}

.site_ttl h1, .site_ttl p {
  font-family: 'cheekFont';
  color: #c6232e;
  z-index: 20;
  margin-bottom: 0;
}

.slick_ctt {
  z-index: 30;
  width: 75vw;
  margin: 0 auto;
  margin-right: auto;
}

.img_wrapper {
  width: 75vw;
  height: 75vw;
  margin: 0 calc(25vw /2);
  /*スライドの画像間の距離*/
}

.slick-list {
  overflow: inherit;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.slick-prev, .slick-prev:before {
  display: none;
  border: none;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.slick-next:before,
.slick-next:hover::before,
.slick-next:focus::before {
  color: #c6232e;
  opacity: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  content: '\f054';
}

.img_wrapper {
  background-size: cover;
  border: 2px solid #c6232e;
}

.img01 {
background-image: url(images/applique-cushion.jpg);
}
.img02 {
  background-image: url(images/embroidery-flower.jpg);
}
.img03 {
  background-image: url(images/moleyarn-knit.jpg);
}


.slick-dots li button:before {
  color: #c6232e;
  opacity: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: normal;
  font-size: 10px;
  width: 20px;
  height: 20px;
  content: '\f111';
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #c6232e;
  font-weight: 900;
}

@media only screen and (min-width: 576px) {
  .slick_ctt {
    width: 40vw;
    margin: 0 0 0 10vw;
  }
  .img_wrapper {
    width: 40vw;
    height: 40vw;
    margin: 0 10vw 0 0;
    /*スライドの画像間の距離*/
  }
  .slick-list {
    margin: 0;
  }
}

section.bg-white {
  margin: 0 calc(50% - 50vw);
}

section.bg-white .section-ttl {
  color: #c6232e;
  font-family: 'Alata', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.bg-white .section-ttl::before,
section.bg-white .section-ttl::after {
  content: '';
  background-image: url(images/favorite.svg);
  background-repeat: space no-repeat;
  background-position-x: center;
  background-size: 1.5rem 1rem;
  width: 100%;
  height: 1rem;
}
section.bg-white .section-ttl::before {
  margin-right: .75rem;
}
section.bg-white .section-ttl::after {
  margin-left: .75rem;
}

section.bg-white.scallop {
  margin-top: 30px;
  padding: 0 1rem 1rem;
  border-top: 20px solid;
  border-image-source: url(images/scallop-frame.svg);
  border-image-slice: 35% fill;
  border-image-width: auto;
  border-image-outset: 10px 10px 0;
  border-image-repeat: round;
}

.card-body {
  line-height: 1.2em;
}

.card-body .desc {
  font-weight: 700;
}
.card-body .desc span.tag {
  background-color: #fcf5ed;
  border-radius: .25rem;
  padding: .25em .5em;
  margin-right: .25em;
}

